.header{
    position: fixed;
    top: 0;
    left: 0;
    height: 3.5%;
    background-color: rgb(100, 100, 100);
    justify-content: center;
    width: 100%;
    text-align: right;
}

.header-links{
    padding: 1vh;
}